<a href="https://colab.research.google.com/github/hellooishik/assignmnets/blob/main/GD612_Assessment%2B2_2024_v1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 1: Loading and Analyzing the Dataset


Transaction ID	Product	Category	Quantity	Price	Customer Age	Region	Date
1	T-Shirt	Apparel	2	25	30	North	2024-01-01
2	Jeans	Apparel	1	40	22	South	2024-01-02
3	Laptop	Electronics	1	700	35	East	2024-01-03
4	Headphones	Electronics	2	50	27	West	2024-01-04
5	Coffee Mug	Home Decor	3	15	45	North	2024-01-05
6	T-Shirt	Apparel	1	25	30	North	2024-01-06

In [ ]:
# Step 1: Import Required Libraries
import pandas as pd
import numpy as np

# Step 2: Create Mock Dataset
data = pd.DataFrame({
    "Transaction ID": [1, 2, 3, 4, 5, 6],
    "Product": ["T-Shirt", "Jeans", "Laptop", "Headphones", "Coffee Mug", "T-Shirt"],
    "Category": ["Apparel", "Apparel", "Electronics", "Electronics", "Home Decor", "Apparel"],
    "Quantity": [2, 1, 1, 2, 3, 1],
    "Price": [25, 40, 700, 50, 15, 25],
    "Customer Age": [30, 22, 35, 27, 45, 30],
    "Region": ["North", "South", "East", "West", "North", "North"],
    "Date": pd.to_datetime(["2024-01-01", "2024-01-02", "2024-01-03", "2024-01-04", "2024-01-05", "2024-01-06"])
})

# Step 3: Analyze the Dataset
# Display the first few rows
print("First 5 rows of the dataset:")
print(data.head())

# Display the structure (data types and non-null counts)
print("\nDataset Information:")
data.info()

# Display summary statistics
print("\nSummary Statistics:")
print(data.describe())

# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())

# Check for duplicate rows
print("\nDuplicate Rows Count:")
print(data.duplicated().sum())

First 5 rows of the dataset:
   Transaction ID     Product     Category  Quantity  Price  Customer Age  \
0               1     T-Shirt      Apparel         2     25            30
1               2       Jeans      Apparel         1     40            22
2               3      Laptop  Electronics         1    700            35
3               4  Headphones  Electronics         2     50            27
4               5  Coffee Mug   Home Decor         3     15            45

  Region       Date
0  North 2024-01-01
1  South 2024-01-02
2   East 2024-01-03
3   West 2024-01-04
4  North 2024-01-05

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transaction ID  6 non-null      int64
 1   Product         6 non-null      object
 2   Category        6 non-null      object
 3   Quantity        6 non-null      int64
 4   Price           6 non-null      int64
 5   Customer Age    6 non-null      int64
 6   Region          6 non-null      object
 7   Date            6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 516.0+ bytes

Summary Statistics:
       Transaction ID  Quantity      Price  Customer Age                 Date
count        6.000000  6.000000    6.00000      6.000000                    6
mean         3.500000  1.666667  142.50000     31.500000  2024-01-03 12:00:00
min          1.000000  1.000000   15.00000     22.000000  2024-01-01 00:00:00
25%          2.250000  1.000000   25.00000     27.750000  2024-01-02 06:00:00
50%          3.500000  1.500000   32.50000     30.000000  2024-01-03 12:00:00
75%          4.750000  2.000000   47.50000     33.750000  2024-01-04 18:00:00
max          6.000000  3.000000  700.00000     45.000000  2024-01-06 00:00:00
std          1.870829  0.816497  273.39989      7.867655                  NaN

Missing Values:
Transaction ID    0
Product           0
Category          0
Quantity          0
Price             0
Customer Age      0
Region            0
Date              0
dtype: int64

Duplicate Rows Count:
0

# Step 2: Cleaning and Transforming the Data

In [ ]:
# Step 2: Cleaning and Transforming the Data

# Handle Missing Values
print("\nHandling Missing Values...")
# (No missing values in our mock data, but here's how you can handle them)
# data = data.fillna(value={"Price": data["Price"].mean()})  # Example: Fill missing Price with the mean

# Remove Duplicate Records
print("\nRemoving Duplicate Records...")
print(f"Number of duplicate rows before cleaning: {data.duplicated().sum()}")
data = data.drop_duplicates()
print(f"Number of duplicate rows after cleaning: {data.duplicated().sum()}")

# Correct Data Types
print("\nCorrecting Data Types...")
data["Date"] = pd.to_datetime(data["Date"])  # Ensure Date is datetime
print("Data types after correction:")
print(data.dtypes)

# Add a New Column: Total Price
print("\nAdding a New Column: Total Price...")
data["Total Price"] = data["Quantity"] * data["Price"]
print(data.head())

# Filter Outliers (e.g., Price > 500 considered as outlier for this dataset)
print("\nFiltering Outliers...")
price_threshold = 500
outliers = data[data["Price"] > price_threshold]
print(f"Outliers identified:\n{outliers}")
data = data[data["Price"] <= price_threshold]
print(f"Data after removing outliers:\n{data}")

# Normalize Data (optional, for numeric columns)
print("\nNormalizing Numeric Data (optional)...")
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[["Quantity", "Price", "Total Price"]] = scaler.fit_transform(data[["Quantity", "Price", "Total Price"]])
print("Normalized Data:")
print(data.head())

Handling Missing Values...

Removing Duplicate Records...
Number of duplicate rows before cleaning: 0
Number of duplicate rows after cleaning: 0

Correcting Data Types...
Data types after correction:
Transaction ID             int64
Product                   object
Category                  object
Quantity                   int64
Price                      int64
Customer Age               int64
Region                    object
Date              datetime64[ns]
dtype: object

Adding a New Column: Total Price...
   Transaction ID     Product     Category  Quantity  Price  Customer Age  \
0               1     T-Shirt      Apparel         2     25            30
1               2       Jeans      Apparel         1     40            22
2               3      Laptop  Electronics         1    700            35
3               4  Headphones  Electronics         2     50            27
4               5  Coffee Mug   Home Decor         3     15            45

  Region       Date  Total Price
0  North 2024-01-01           50
1  South 2024-01-02           40
2   East 2024-01-03          700
3   West 2024-01-04          100
4  North 2024-01-05           45

Filtering Outliers...
Outliers identified:
   Transaction ID Product     Category  Quantity  Price  Customer Age Region  \
2               3  Laptop  Electronics         1    700            35   East

        Date  Total Price
2 2024-01-03          700
Data after removing outliers:
   Transaction ID     Product     Category  Quantity  Price  Customer Age  \
0               1     T-Shirt      Apparel         2     25            30
1               2       Jeans      Apparel         1     40            22
3               4  Headphones  Electronics         2     50            27
4               5  Coffee Mug   Home Decor         3     15            45
5               6     T-Shirt      Apparel         1     25            30

  Region       Date  Total Price
0  North 2024-01-01           50
1  South 2024-01-02           40
3   West 2024-01-04          100
4  North 2024-01-05           45
5  North 2024-01-06           25

Normalizing Numeric Data (optional)...
Normalized Data:
   Transaction ID     Product     Category  Quantity     Price  Customer Age  \
0               1     T-Shirt      Apparel       0.5  0.285714            30
1               2       Jeans      Apparel       0.0  0.714286            22
3               4  Headphones  Electronics       0.5  1.000000            27
4               5  Coffee Mug   Home Decor       1.0  0.000000            45
5               6     T-Shirt      Apparel       0.0  0.285714            30

  Region       Date  Total Price
0  North 2024-01-01     0.333333
1  South 2024-01-02     0.200000
3   West 2024-01-04     1.000000
4  North 2024-01-05     0.266667
5  North 2024-01-06     0.000000

# Step 3: Display Initial Rows

In [ ]:
# Step 3: Display Initial Rows of the Cleaned and Transformed Dataset
print("Initial Rows of the Cleaned and Transformed Dataset:")
print(data.head())  # Display the first 5 rows of the dataset

Initial Rows of the Cleaned and Transformed Dataset:
   Transaction ID     Product     Category  Quantity     Price  Customer Age  \
0               1     T-Shirt      Apparel       0.5  0.285714            30
1               2       Jeans      Apparel       0.0  0.714286            22
3               4  Headphones  Electronics       0.5  1.000000            27
4               5  Coffee Mug   Home Decor       1.0  0.000000            45
5               6     T-Shirt      Apparel       0.0  0.285714            30

  Region       Date  Total Price
0  North 2024-01-01     0.333333
1  South 2024-01-02     0.200000
3   West 2024-01-04     1.000000
4  North 2024-01-05     0.266667
5  North 2024-01-06     0.000000

# Step 4: Filtering the Tidy Dataset Based on Criteria

In [ ]:
# Step 4: Filter the Tidy Dataset Based on Criteria

# Filter 1: Rows where Category is 'Apparel'
apparel_data = data[data["Category"] == "Apparel"]
print("\nFiltered Dataset - Category: Apparel")
print(apparel_data)

# Filter 2: Rows where Region is 'North'
north_region_data = data[data["Region"] == "North"]
print("\nFiltered Dataset - Region: North")
print(north_region_data)

# Filter 3: Rows where Total Price is greater than 0.5 (after normalization)
filtered_by_price = data[data["Total Price"] > 0.5]
print("\nFiltered Dataset - Total Price > 0.5")
print(filtered_by_price)

Filtered Dataset - Category: Apparel
   Transaction ID  Product Category  Quantity     Price  Customer Age Region  \
0               1  T-Shirt  Apparel       0.5  0.285714            30  North
1               2    Jeans  Apparel       0.0  0.714286            22  South
5               6  T-Shirt  Apparel       0.0  0.285714            30  North

        Date  Total Price
0 2024-01-01     0.333333
1 2024-01-02     0.200000
5 2024-01-06     0.000000

Filtered Dataset - Region: North
   Transaction ID     Product    Category  Quantity     Price  Customer Age  \
0               1     T-Shirt     Apparel       0.5  0.285714            30
4               5  Coffee Mug  Home Decor       1.0  0.000000            45
5               6     T-Shirt     Apparel       0.0  0.285714            30

  Region       Date  Total Price
0  North 2024-01-01     0.333333
4  North 2024-01-05     0.266667
5  North 2024-01-06     0.000000

Filtered Dataset - Total Price > 0.5
   Transaction ID     Product     Category  Quantity  Price  Customer Age  \
3               4  Headphones  Electronics       0.5    1.0            27

  Region       Date  Total Price
3   West 2024-01-04          1.0

# Step 5: Establishing a Database Connection

In [ ]:
# Step 5: Establishing a Database Connection and Importing Data

import sqlite3

# Create a connection to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Step 5.1: Create a Table in the Database
# Drop the table if it exists (optional, for repeated runs)
cursor.execute("DROP TABLE IF EXISTS sales")

# Create a new table with appropriate column definitions
cursor.execute("""
CREATE TABLE sales (
    TransactionID INTEGER,
    Product TEXT,
    Category TEXT,
    Quantity REAL,
    Price REAL,
    CustomerAge INTEGER,
    Region TEXT,
    Date TEXT,
    TotalPrice REAL
)
""")
print("Table created successfully.")

# Step 5.2: Insert the Cleaned Dataset into the Table
# Convert the Pandas DataFrame to a list of tuples
data_tuples = data.to_records(index=False)
cursor.executemany("""
INSERT INTO sales (TransactionID, Product, Category, Quantity, Price, CustomerAge, Region, Date, TotalPrice)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
""", data_tuples)
print(f"Inserted {len(data_tuples)} rows into the database.")

# Commit the transaction and close the connection
conn.commit()
conn.close()

print("Database connection closed.")

Table created successfully.
Inserted 5 rows into the database.
Database connection closed.

# Step 6: Retrieving and Displaying Records

In [ ]:
# Step 6: Retrieve and Display Records from the Database

import sqlite3
import pandas as pd

# Step 6.1: Reconnect to the Database
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Step 6.2: Retrieve All Records from the 'sales' Table
query = "SELECT * FROM sales"
data_from_db = pd.read_sql_query(query, conn)

# Display the Retrieved Data
print("Retrieved Records from the Database:")
print(data_from_db)

# Step 6.3: Close the Connection
conn.close()
print("Database connection closed.")

Retrieved Records from the Database:
                         TransactionID     Product     Category  Quantity  \
0  b'\x01\x00\x00\x00\x00\x00\x00\x00'     T-Shirt      Apparel       0.5
1  b'\x02\x00\x00\x00\x00\x00\x00\x00'       Jeans      Apparel       0.0
2  b'\x04\x00\x00\x00\x00\x00\x00\x00'  Headphones  Electronics       0.5
3  b'\x05\x00\x00\x00\x00\x00\x00\x00'  Coffee Mug   Home Decor       1.0
4  b'\x06\x00\x00\x00\x00\x00\x00\x00'     T-Shirt      Apparel       0.0

      Price                          CustomerAge Region  \
0  0.285714  b'\x1e\x00\x00\x00\x00\x00\x00\x00'  North
1  0.714286  b'\x16\x00\x00\x00\x00\x00\x00\x00'  South
2  1.000000  b'\x1b\x00\x00\x00\x00\x00\x00\x00'   West
3  0.000000     b'-\x00\x00\x00\x00\x00\x00\x00'  North
4  0.285714  b'\x1e\x00\x00\x00\x00\x00\x00\x00'  North

                                  Date  TotalPrice
0     b'\x00\x00e\x01\x17\x10\xa6\x17'    0.333333
1     b'\x00\x00\xb4\x92\xab^\xa6\x17'    0.200000
2     b'\x00\x00R\xb5\xd4\xfb\xa6\x17'    1.000000
3           b'\x00\x00\xa1FiJ\xa7\x17'    0.266667
4  b'\x00\x00\xf0\xd7\xfd\x98\xa7\x17'    0.000000
Database connection closed.

# Step 7: Sorting Records Based on Conditions

In [ ]:
# Step 7: Sorting Records Based on Conditions

import sqlite3
import pandas as pd

# Step 7.1: Reconnect to the Database
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Step 7.2: Sort Records by Total Price (Descending Order)
query_sort_price = "SELECT * FROM sales ORDER BY TotalPrice DESC"
sorted_by_price = pd.read_sql_query(query_sort_price, conn)
print("\nRecords Sorted by Total Price (Descending):")
print(sorted_by_price)

# Step 7.3: Sort Records by Quantity (Ascending Order)
query_sort_quantity = "SELECT * FROM sales ORDER BY Quantity ASC"
sorted_by_quantity = pd.read_sql_query(query_sort_quantity, conn)
print("\nRecords Sorted by Quantity (Ascending):")
print(sorted_by_quantity)

# Step 7.4: Close the Connection
conn.close()
print("\nDatabase connection closed.")

Records Sorted by Total Price (Descending):
                         TransactionID     Product     Category  Quantity  \
0  b'\x04\x00\x00\x00\x00\x00\x00\x00'  Headphones  Electronics       0.5
1  b'\x01\x00\x00\x00\x00\x00\x00\x00'     T-Shirt      Apparel       0.5
2  b'\x05\x00\x00\x00\x00\x00\x00\x00'  Coffee Mug   Home Decor       1.0
3  b'\x02\x00\x00\x00\x00\x00\x00\x00'       Jeans      Apparel       0.0
4  b'\x06\x00\x00\x00\x00\x00\x00\x00'     T-Shirt      Apparel       0.0

      Price                          CustomerAge Region  \
0  1.000000  b'\x1b\x00\x00\x00\x00\x00\x00\x00'   West
1  0.285714  b'\x1e\x00\x00\x00\x00\x00\x00\x00'  North
2  0.000000     b'-\x00\x00\x00\x00\x00\x00\x00'  North
3  0.714286  b'\x16\x00\x00\x00\x00\x00\x00\x00'  South
4  0.285714  b'\x1e\x00\x00\x00\x00\x00\x00\x00'  North

                                  Date  TotalPrice
0     b'\x00\x00R\xb5\xd4\xfb\xa6\x17'    1.000000
1     b'\x00\x00e\x01\x17\x10\xa6\x17'    0.333333
2           b'\x00\x00\xa1FiJ\xa7\x17'    0.266667
3     b'\x00\x00\xb4\x92\xab^\xa6\x17'    0.200000
4  b'\x00\x00\xf0\xd7\xfd\x98\xa7\x17'    0.000000

Records Sorted by Quantity (Ascending):
                         TransactionID     Product     Category  Quantity  \
0  b'\x02\x00\x00\x00\x00\x00\x00\x00'       Jeans      Apparel       0.0
1  b'\x06\x00\x00\x00\x00\x00\x00\x00'     T-Shirt      Apparel       0.0
2  b'\x01\x00\x00\x00\x00\x00\x00\x00'     T-Shirt      Apparel       0.5
3  b'\x04\x00\x00\x00\x00\x00\x00\x00'  Headphones  Electronics       0.5
4  b'\x05\x00\x00\x00\x00\x00\x00\x00'  Coffee Mug   Home Decor       1.0

      Price                          CustomerAge Region  \
0  0.714286  b'\x16\x00\x00\x00\x00\x00\x00\x00'  South
1  0.285714  b'\x1e\x00\x00\x00\x00\x00\x00\x00'  North
2  0.285714  b'\x1e\x00\x00\x00\x00\x00\x00\x00'  North
3  1.000000  b'\x1b\x00\x00\x00\x00\x00\x00\x00'   West
4  0.000000     b'-\x00\x00\x00\x00\x00\x00\x00'  North

                                  Date  TotalPrice
0     b'\x00\x00\xb4\x92\xab^\xa6\x17'    0.200000
1  b'\x00\x00\xf0\xd7\xfd\x98\xa7\x17'    0.000000
2     b'\x00\x00e\x01\x17\x10\xa6\x17'    0.333333
3     b'\x00\x00R\xb5\xd4\xfb\xa6\x17'    1.000000
4           b'\x00\x00\xa1FiJ\xa7\x17'    0.266667

Database connection closed.

# Step 8: Counting the Number of Records in the Table

In [ ]:
# Step 8: Count the Number of Records in the Table

import sqlite3

# Step 8.1: Reconnect to the Database
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Step 8.2: Count the Number of Records
query_count = "SELECT COUNT(*) FROM sales"
cursor.execute(query_count)
record_count = cursor.fetchone()[0]  # Fetch the count result
print(f"\nTotal Number of Records in the 'sales' Table: {record_count}")

# Step 8.3: Close the Connection
conn.close()
print("\nDatabase connection closed.")

Total Number of Records in the 'sales' Table: 5

Database connection closed.

# Step 9: Grouping Operations

In [ ]:
# Reconnect to the database
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Perform grouping operation
query_grouping = """
SELECT Category, COUNT(*) as total_sales
FROM sales
GROUP BY Category
"""
cursor.execute(query_grouping)
grouped_results = cursor.fetchall()

# Display grouped results
print("\nGrouped Sales Data by Product Category:")
for row in grouped_results:
    print(f"Category: {row[0]}, Total Sales: {row[1]}")

# Close the connection
conn.close()
print("\nDatabase connection closed.")

Grouped Sales Data by Product Category:
Category: Apparel, Total Sales: 3
Category: Electronics, Total Sales: 1
Category: Home Decor, Total Sales: 1

Database connection closed.

# Step 10: Update Operations

In [ ]:
# Reconnect to the database
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Example: Set discount for a specific region
query_update_discount = """
UPDATE sales
SET Price = Price * 0.9  -- Applying a 10% discount
WHERE Region = 'North'
"""
cursor.execute(query_update_discount)
conn.commit()

# Confirm update by counting affected rows
rows_affected = cursor.rowcount
print(f"\nRows updated: {rows_affected}")

# Close the connection
conn.close()
print("\nDatabase connection closed.")

Rows updated: 3

Database connection closed.

# Task B: Data Export, Migration, and Backup

***Step 11: Export Data to a File***

In [ ]:
import csv

# Reconnect to the database
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

# Fetch data
query_export = "SELECT * FROM sales"
cursor.execute(query_export)
rows = cursor.fetchall()

# Export to CSV
with open("sales_data_export.csv", "w", newline="") as file:
    writer = csv.writer(file)
    # Write header
    writer.writerow([description[0] for description in cursor.description])
    # Write data
    writer.writerows(rows)

print("\nData exported to 'sales_data_export.csv'.")
conn.close()

Data exported to 'sales_data_export.csv'.

# Step 12: Upload to Cloud Storage

In [ ]:
import boto3

# AWS S3 credentials
s3 = boto3.client('s3', aws_access_key_id='your-access-key', aws_secret_access_key='your-secret-key')
bucket_name = "your-bucket-name"
file_name = "sales_data_export.csv"

# Upload file
try:
    s3.upload_file(file_name, bucket_name, file_name)
    print(f"\nFile '{file_name}' uploaded to bucket '{bucket_name}'.")
except Exception as e:
    print(f"Error uploading file: {e}")

ModuleNotFoundError: No module named 'boto3'

# Step 13: Schedule Automated Backups

In [ ]:
import schedule
import time
import shutil

def backup_data():
    try:
        shutil.copy("sales_data_export.csv", "/path/to/backup/directory/")
        print("\nBackup completed successfully.")
    except Exception as e:
        print(f"Backup failed: {e}")

# Schedule backup every day at midnight
schedule.every().day.at("00:00").do(backup_data)

print("Automated backup scheduled. Press Ctrl+C to exit.")
while True:
    schedule.run_pending()
    time.sleep(1)

ModuleNotFoundError: No module named 'schedule'

# Step 14: Error Handling

In [ ]:
try:
    # Perform backup or upload
    backup_data()
except FileNotFoundError as e:
    print(f"File not found: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

An unexpected error occurred: name 'backup_data' is not defined